[2020-11-06 12:52] xylar opened #9 "Remove template for high-frequency output"
This issue replaces https://github.com/MPAS-Dev/MPAS-Model/issues/534

The file `ocean/global_ocean/template_high_frequency_output.xml` should be removed. It is currently not used.

That one was added by mistake. This one is used and correct:
[code]
@mark-petersen will remove that other one when he gets a chance.

[2020-11-06 13:01] xylar opened #10 "Document the need to load `compass` conda environment before system MPI"
From https://github.com/MPAS-Dev/MPAS-Model/issues/564#issuecomment-630953420, we need to document for users that they need to load a `compass` conda environment before they load modules for the system MPI because otherwise they can end up with problems where they are using a bad combination of conda and system MPI.

[2020-11-06 13:07] xylar opened #11 "rename e3sm_coupling and move it to be its own test"
This takes over for https://github.com/MPAS-Dev/MPAS-Model/issues/585

I would like to move the `e3sm_coupling` step to be its own "test" (at the same level as `init` and `spin_up`) in each `global_ocean` test case.

My reasoning for renaming is that we want to make clear that, once this code is more robust, it will generate an E3SM ocean (and possibly sea-ice, though that can be part of this disc

[2020-11-06 13:55] xylar opened #16 "HOWTO: Move a branch from MPAS-Dev/MPAS-Model to this repo"
* Make a fork of https://github.com/MPAS-Dev/compass for yourself
* Do the following (I'll use `username` in the subsequent examples):
[code]
This part would apply to any branches you want to move over to the COMPASS repo (I'll use `my_branch` for the name of the branch):
[code]

[2020-11-06 15:26] xylar opened #17 "Add tags for E3SM meshes"
I think it would be a really good idea to add git tags to specific commits as the place to go to reproduce specific E3SM meshes.  My idea for tag names would be like: `mesh_ECwISC30to60E2r1`, so `mesh_` and then the E3SM short name.

Thoughts?

[2020-11-06 15:27] xylar commented on #17
@vanroekel, @matthewhoffman and @mark-petersen, would this work for you?  If so, I'll do this for all the E3SM v2 meshes we've created so far.

[2020-11-06 15:53] xylar opened #19 "Geojson files for EC15to60 are being linked in EC30to60 as well"
This may be the case in other `global_ocean` test cases as well.

The offending step is `ocean/global_ocean/QU240/init/base_mesh`.  The links that shouldn't be there are
[code]

[2020-11-06 15:54] xylar commented on #19
This was introduced in https://github.com/MPAS-Dev/MPAS-Model/pull/740

[2020-11-09 20:11] matthewhoffman commented on #17
Yeah that makes sense to me.  So a key element is the `r1` piece that ties a COMPASS version to a specific incarnation of a mesh, right?  I don't see much need/use for tags in the compass repo, so I'm not concerned about tag-clutter from using them for this.

[2020-11-09 20:13] mark-petersen opened #20 "Remove mpas_model from general.config.ocean"
This line really means the compass path now, not mpas_model:
[code]
But it is only used in two places:
[code]
so I think we can just get rid of that config flag completely, as we should be able to specify those paths in a different way. Also, the `testing_and_setup/compass` is incorrect now anyway.

[2020-11-09 20:19] xylar commented on #17
Hmm, I think we will want to do releases of this repo each time we update the metapackage (and potentially a future python package for `compass` itself), so I think we will have a lot of version tags.  That's partly why I want the mesh tags to be clearly distinguishable from `compass` releases.

[2020-11-09 20:23] xylar commented on #20
@mark-petersen, I'm happy to do this, but I kind of think of things the other way around.  With config files with [extended interpolation](https://docs.python.org/3.3/library/configparser.html#configparser.ExtendedInterpolation), it makes sense to specify *only* the `mpas_model` path and have the config file (at least by default) figure everything else out from that path.  Here's an example from w

[2020-11-09 20:23] xylar commented on #20
But I agree that the two cases you point out above should me altered to not use those silly paths anymore.

[2020-11-09 20:26] xylar commented on #20
I'll make a PR to fix these 2.

[2020-11-09 20:36] mark-petersen commented on #17
I think having one tag for each official mesh name in E3SM is extremely helpful. Then we have the state of compass and MPAS-Model, and don't need to search through PRs or merge messages for it.  @xylar thanks for thinking of it.

The tag would go to the merge commit, which is not part of the PR. We will just try to remember to add that as we go, for future PRs. We can always add it after the merge

[2020-11-09 20:43] mark-petersen commented on #20
Yes, your example config file is much better. I've never specified different paths for any of those things, and made a sed script a long time ago to replace them all at once.

Your example above also removes
[code]
You don't mean to remove those, right? It is nice to point to files that are in-place on our shared machines.

[2020-11-09 20:54] xylar commented on #20
Yes, I use `sed` for this, too.  And this won't work with the `ConfigParser` as currently used in COMPASS, but it will work in the future version I'm working on.

[2020-11-09 21:14] vanroekel commented on #17
I agree having a tag of compass for a specific production mesh sounds extremely useful and really important.

[2020-11-09 21:27] xylar commented on #20
@mark-petersen, I have a branch for this but I'm having trouble testing it because the LCRC server is down (monthly maintenance?) so I can't get mesh files I need.

[2020-11-09 21:37] xylar commented on #20
Didn't respond to this.  I didn't mean for my example to be a complete one.  The way things will work, those paths will come from a machine-specific config file, which is separate from the config file where you specify the location of MPAS-Ocean.  But I'm getting ahead of myself.  I just wanted to point out that there may be a good reason to keep `mpas_model` as a path.

[2020-11-10 06:42] xylar commented on #17
To Do:
- [ ] EC15to60E2r1
- [ ] EC30to60E2r2
- [ ] EC30to60E2r3
- [ ] EC15to60E2r4
- [ ] WC12to60E2r1
- [ ] WC14to60E2r2
- [ ] WC14to60E2r3
- [ ] SOwISC12to60E2r2
- [ ] SOwISC12to60E2r3
- [ ] ECwISC30to60E2r1

[2020-11-10 07:08] xylar commented on #17
Okay, this is done (except for the final mesh, which hasn't yet been merged in #15).

[2020-11-10 07:08] #17 closed

[2020-11-15 08:50] #19 closed

[2021-01-12 17:52] xylar opened #39 "No working gnu or intel config. with SCORPIO"
Having struggled off and on yesterday and today, I have not been able to get a working MPAS-Ocean build on Grizzly with either gnu or intel and SCORPIO.

## gnu

For gnu, here is the module stack I tried:
[code]
I am able to build SCORPIO successfully.

Then, in debug mode, I get:
[code]

The error is on a division by zero here:
https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/src/core_oc

[2021-01-12 20:37] xylar commented on #39
Moving the gnu issue to MPAS-Model: https://github.com/MPAS-Dev/MPAS-Model/issues/784

[2021-01-12 20:59] xylar commented on #39
Moving intel issue to https://github.com/MPAS-Dev/MPAS-Model/issues/785

[2021-01-12 20:59] #39 closed

[2021-01-20 13:40] xylar opened #43 "compass package to-do list"
Either as part of #28 or shortly after it is merged, there will still be a lot to do!

Here is a space for keeping track of things that still need to be done:

- [x] update CI to handle `legacy` branch
- [x] update CI to build the package and docs
- [x] make `legacy` branch
- [x] remove legacy COMPASS from `master`
- [x] Display the maximum requested cores, minimum required cores after setting up

[2021-01-21 20:06] darincomeau opened #44 "Add landIceMask variable to sea ice grid file"
When creating a new grid, the landIceMask variable currently does not get carried into the sea ice grid file from the ocean grid file, but it's needed by MPAS-Seaice. Could this be added?

[2021-01-21 21:05] xylar commented on #44
I'll take care of this tomorrow.  Thanks for making an issue!

[2021-01-22 19:33] #44 closed

[2021-02-01 15:33] mark-petersen opened #50 "New Ocean test cases"
After #28 there are a number of additional tests to be added to compass. Here is a list to help us keep track. Almost all have been created and tested, but are in MPAS-Model branches and the old COMPASS format.

General
- [ ] Semi-implicit time step regression suite

Single-layer MPAS, with @nairita87
- [ ] Aquaplanet surface gravity wave
- [ ] Stommel box circulation with exact solution
- [ ] Sin

[2021-02-03 12:11] xylar opened #51 "Prioritized list of test cases to port to the new compass package"
Here is a list of test cases from legacy COMPASS that could be ported to the new `compass` python package.  I would like help putting them in order of priority.

legacy COMPASS test cases:
 - [ ] landice/EISMINT1/50000m/MovingMargin1
 - [ ] landice/EISMINT2/25000m/decomposition_test
 - [ ] landice/EISMINT2/25000m/enthalpy_decomposition_test
 - [ ] landice/EISMINT2/25000m/enthalpy_restart_test
 - [

[2021-02-03 12:29] xylar commented on #51
@vanroekel, @matthewhoffman, @sbrus89, @mark-petersen, @milenaveneziani, @darincomeau, could you all help me prioritize these test cases.  If you want to prioritize them, move them up the list either by dragging them or editing the comment.  If you know a test case isn't needed (it will still be available in legacy COMPASS, it just won't be ported), please use `~~` to add strike-through.

Please `

[2021-02-03 12:34] xylar commented on #51
@trhille, you may also be a good person to give feedback on the `landice` list.

[2021-02-03 14:58] vanroekel commented on #51
Thanks for making this list @xylar. I've made a few minor shifts.  I've also bumped cvmix to the bottom as I'd like to take these on myself for porting to the new compass package.

@mark-petersen if you don't think the redi verification tests are particularly helpful to have for standard testing, please de prioritize those.

[2021-02-03 16:28] xylar commented on #51
@vanroekel, I've moved the cvmix test cases up in priority but put your username after them, I hope that's okay.  This way we can kind of keep track of who's planning to do what.

[2021-02-03 17:20] vanroekel commented on #51
great idea.  Thanks for making that change.

[2021-02-04 21:55] sbrus89 commented on #51
@xylar, I'd like to take on the hurricane/tides cases (I'll mark them in the comment). That way I can learn the ins and outs of the new COMAPSS.  It'll also be a good opportunity for me to possibly prune these as necessary when I go through them. Thanks again for doing all this!

[2021-02-05 09:03] xylar commented on #51
Thanks @sbrus89.  I'm happy to help.  I'd recommend holding off on starting your porting until #28 gets merged.  Perhaps in a couple of weeks.

[2021-02-05 14:45] sbrus89 commented on #51
@xylar, sounds good. Thanks for the heads up. I'm excited to start using the new compass!

[2021-02-05 17:35] matthewhoffman commented on #51
@xylar , I've updated the landice lists.  There may be additional round of decisions on what to port when (or at all), but this narrows things down a bit.

[2021-02-05 18:31] xylar commented on #51
Thanks @matthewhoffman, that's really helpful.  I'll work my way through the ones with my name on them in the next week or 2.

[2021-02-16 15:01] xylar opened #53 "Add an unculled version of the QU240 test case"
Add a run of a QU240 test case (e.g. performance) using the unculled base mesh.  This will ensure that MPAS-Ocean still works when land is masked using `maxLevelCell <= 0`.

The test could run as normal, then map the non-land cells to the same indices the culled version to perform bit-for-bit checks.

This was prompted from a discussion here:
https://github.com/MPAS-Dev/MPAS-Model/pull/804#issueco

[2021-03-12 11:16] xylar opened #56 "Chrysalis doesn't have libnsl"
[code]

https://github.com/conda-forge/fiona-feedstock/issues/138

It seems like we will need to get the admins to install it.

[2021-03-12 11:17] xylar opened #57 "Compy srun model steps are hanging"
I tried to run compass 1.0 on compy and running the model itself just hangs.  This is an issue to track the problem as I try to debug it.

[2021-03-12 17:10] xylar opened #58 "file_for_e3sm failing on Anvil"
The seemingly eternal battle to get `conda-forge` MPI working on supported machines continues.  Anvil is refusing to run `ESMF_RegridWeightGen` in parallel.  The error message isn't particularly important.  It's clearly just that Anvil doesn't like the conda-forge `mpirun`.

[2021-03-12 20:50] xylar commented on #58
A solution may be the `external` build of `mpich` for conda-forge: https://conda-forge.org/docs/user/tipsandtricks.html#using-external-message-passing-interface-mpi-libraries

[2021-03-14 20:40] mark-petersen opened #59 "request to add separate compare pass/fail status"
It would be really helpful for suites with `-b` to report the test result and the comparison result separately:
[code]
Right now, FAIL could indicate the comparison or the run itself. The two are obviously both checked lower down, but I think only one is passed up to the suite function for reporting.

[2021-03-16 14:02] xylar commented on #59
@mark-petersen, I looked into this and this could be a bit tricky.  I want to make sure I understand the expected behavior before I start implementing a solution.

Currently, test cases and their steps fail by raising python exceptions.  No distinction is made between failing because a step in the test case raised an exception and because validation raised an exception.

Presumably, when an except

[2021-03-16 14:17] xylar commented on #59
Currently, the first call to `compare_variables()` that fails will raise an exception and subsequent validation will not be performed (though all variables in the call are checked before an exception is raised).  This may also not be the desired behavior, since it would be more helpful to have all validation take place before the test case fails.

Accommodating this and also making a distinction b

[2021-03-16 14:42] xylar commented on #59
Things are even more complicated than I realized in my discussion so far.  We currently don't distinguish between validation that fails during comparison within a test case and validation that fails in comparison with a baseline.  That's really going to be tricky!

[2021-03-16 20:03] xylar commented on #59
Okay, I've got what seems like a working solution here: https://github.com/xylar/compass/tree/separate_compare_output.  Something for a follow-on PR once #28  goes in...

[2021-03-16 20:14] xylar commented on #58
The solution above was not successful.

Instead, it seems feasible to make a system build of:
* SCORPIO
* ESMF
using most of the supported compilers and MPI implementations in E3SM on most machines.

See https://github.com/xylar/compass/tree/add_machine_modules

This has the added benefit of making it easy to create files for each compiler/MPI combination for users to source when building and runn

[2021-03-16 20:54] xylar commented on #59
Here is the output from from a few nightly tests:
[code]
The comparison between the full run and the restart in the RK4 restart test has been failing since the test was created.  Interestingly, the test fails but the comparison of both the full run and the restart with the baseline passes.  I thought something was wrong at first but this is, indeed, the case.

[2021-03-16 21:48] mark-petersen commented on #59
Great! That is perfect! Yes, we could have a FAIL and PASS on compare, because it is comparing the first restart runs on the two regression suites.

[2021-03-18 16:19] xylar opened #61 "Make sure we set `config_expand_sphere = .false.` in compass 1.0"
We don't want to be renormalizing the Earth sphere, we want to be leaving it at the CIME value.

[2021-03-18 16:20] xylar commented on #61
cc @proteanplanet

[2021-03-23 13:31] xylar commented on #56
Solved with help from LCRC support (they made a symlink from `libnsl.so.2` to `libnsl.so.1`.

[2021-03-23 20:00] #56 closed

[2021-03-29 19:52] xylar opened #67 "Error when using the repo base as a work dir"
If you use the compass repo as a work directory (the default), you get an error because `compass` tries to make a symlink to the existing `compass` directory.

[2021-03-29 19:53] xylar commented on #67
I have a fix for this in https://github.com/xylar/compass/tree/fix_suite_work_dir_in_repo

[2021-03-29 19:59] xylar opened #68 "SSH adjustment produces error logs"
These are errors about a nonexistent stream for mixed-layer depth.  The desired behavior was to have this stream disabled, but `type = 'none'` doesn't seem to have done the trick.  `output_interval = 'none'` does seem to have the desired behavior.  I have a fix in: https://github.com/xylar/compass/tree/fix_ssh_adjustment_errors

[2021-03-29 20:22] xylar opened #69 "compasss package in conda env producing git warnings"
When setting up a test suite in from the conda package, you see errors like:
[code]
We shouldn't call `git describe` at all if not in a git repo.  Fix is in: https://github.com/xylar/compass/commits/no_git_commands_from_package

[2021-03-29 20:26] xylar opened #70 "missing READMEs in conda package"
README files aren't getting included in package data.  As a result, certain test cases are producing errors like:
[code]
A fix is in https://github.com/xylar/compass/commits/add_README_to_package

[2021-03-29 20:30] xylar commented on #61
A fix for this is in https://github.com/xylar/compass/commits/do_not_expand_earth_sphere

[2021-04-14 19:12] xylar opened #71 "consider switching to `compass run` instead of `./run.py`"
@matthewhoffman came up with a great suggestion of no longer generating the `./run.py` scripts (which can't usefully be edited to make changes to the test case or step anyway) and instead going with a command `compass run` that runs a suite, test case or step.

The main consideration is how the information unique to the suite, test case or step that is currently in `run.py` gets stored and retriev

[2021-04-14 19:23] matthewhoffman commented on #71
How are you imagining `compass run` being invoked?  Analogously to `compass setup` or `compass suite`?  Would you have to run it from the workdir such that it is implied that what you want to run is the dir you are currently in (be it suite, testgroup, testcase, or step)?

Maybe it would be more explicit to run `compass run` directly on the pickle file?  Then it's clear what you are trying to run.

[2021-04-14 20:25] xylar commented on #71
This has been implemented and tested here:
https://github.com/xylar/compass/tree/switch_to_compass_run

[2021-04-14 20:32] xylar commented on #71
@matthewhoffman,

Yes, you run in the work directory.  Currently, there's no way to run all the test cases in a test group, though that's an interesting idea!  But for test cases and steps, it just recognizes the `test_case.pickle` or `step.pickle` and runs the test case or step.  You just run:
[code]
without any further arguments.

Since multiple suites can be run from the same directory, you hav

[2021-04-14 20:33] xylar commented on #71
This work has the added benefit of letting the `suite`, `testcase` and `step` packages become modules instead because the template files aren't needed anymore.

[2021-04-14 20:45] matthewhoffman commented on #71
@xylar , wow that was surprisingly quick to implement!  The way you've implemented it makes sense to me, and I agree it is cleaner to not have to reference the pickle files (which are meant to be ignored by users) - you convinced me that there is not ambiguity about what compass should be running when invoked from various locations.  I also like the reduction in complexity that comes with fewer li

[2021-04-15 15:41] xylar opened #72 "Automate config files in test cases"
It would be nice if config files from test cases were loaded automatically loaded without needing a `configure()`.  This should mean a lot of test cases don't need `configure()`.

config files for MPAS cores and test groups are already loaded automatically as part of setting test cases in the work directory.  There's no reason the same couldn't be the default behavior for test cases.  And it would

[2021-04-15 16:18] xylar opened #73 "add_model_as_input() should be callable from init()"
It would be nice if `Step.add_model_as_input()` could be called from init like other methods (e.g. `Step.add_input_file()`) instead of in `Step.setup()`.  That would save a lot of steps from needing a `setup()` method at all.

[2021-04-15 19:04] xylar opened #74 "Break test case `run()` method into `run()` and `validate()`"
@matthewhoffman and I discussed that many test cases first run the steps, then perform validation and that is all.  It might simplify things to make `validate()` a separate method.  This way, the default `run()` could be used so there would often be no need for the added complexity of explaining to developers that they need to call `super().run()` to make sure the steps get run.  Since `validate()

[2021-04-17 09:43] xylar opened #75 "Add `package` argument to `add_input_file()`"
This would save some trouble of having to use `importlib.resources` in individual steps, and fits the style of URLs and databases already handled by this method.

[2021-04-23 21:10] #9 closed

[2021-04-23 21:10] #11 closed

[2021-04-23 21:10] #20 closed

[2021-04-26 21:06] #71 closed

[2021-04-26 21:59] mark-petersen opened #80 "Ability to view and alter steps within run command"
In the https://github.com/MPAS-Dev/compass/tree/legacy format, it is obvious to the user that the run steps are contained in run.py, and it is easy to copy from that script to the command line, or to only run parts of it.

In this new setup, it is not obvious how we see and alter the steps that occur in the command
[code]

See conversation at #76

[2021-04-27 07:17] xylar commented on #80
I can see at least 2 ways to handle this, and we could do both:
1. Add command-line flags (e.g. `--steps` and `--no-steps`) where a user can explicitly list the steps they want to or don't want to run.
2. Add a config option (e.g. `[testcase]/steps_to_run = setup_mesh, run_model`) that would be initialized during test-case setup to the steps that get run by default but could be edited by a user.

[2021-04-27 18:18] xylar commented on #57
@mattdturner, as a compy user, this might be one you want to investigate if you want to do compass runs there.  In my testing, I get to the `srun -n 4 ./ocean_model ...` step and it just hangs indefinitely.

[2021-04-29 17:01] #58 closed

[2021-04-29 17:09] #70 closed

[2021-04-29 17:09] xylar commented on #10
This has been taken care of indirectly in #84

[2021-04-29 17:09] #10 closed

[2021-04-29 19:44] #59 closed

[2021-04-29 20:09] xylar opened #91 "Investigate using `pip install -e`"
In this conversation about CIME:
https://github.com/ESMCI/cime/issues/3886#issuecomment-829456896
@jhkennedy made clear that there are better ways for developers to run `compass` as a package while still developing.

First, we have a yaml file that defines the development environment that users can easily install for themselves, e.g.:
[code]
This way, we don't have do maintain a list of dependenci

[2021-04-29 20:10] xylar commented on #91
@jhkennedy, let me know if you have other tips for us.

[2021-04-29 21:39] #67 closed

[2021-04-29 21:52] jhkennedy commented on #91
@xylar yeah, there's now way around duplicate dependency lists as far as I can tell -- usually there's 3 with when you're in the python + conda world:
* repo/environment.yml (e.g. https://github.com/ASFHyP3/hyp3-sdk/blob/develop/environment.yml)
  * we set this one up to be all the development dependencies needed, and use it for all the CI/CD pipelines, so it'll have, runtime dependencies, testing

[2021-04-29 21:56] #68 closed

[2021-04-29 22:12] xylar commented on #91
I'm realizing that the `pip install -e` approach won't be so easy for us.  COMPASS needs system-built ESMF as well as a specific set of comilers, MPI and libraries like NetCDF and SCORPIO.  Some experimentation has shown that these system libraries can't go in the conda environment because there are conflicts between system and conda libraries (no surprise, really).  So our test deployment isn't g

[2021-04-29 22:14] #69 closed

[2021-04-30 06:37] xylar opened #96 "Make quality control plots a standard part of mesh generation for E3SM"
As discussed [here](https://github.com/MPAS-Dev/compass/pull/62#issuecomment-829788675), it would be really helpful to have quality control plots (like [here](https://github.com/MPAS-Dev/MPAS-Model/pull/555#issuecomment-636912023)) generated automatically as part of creating meshes and initial conditions for E3SM.

This would presumably involve porting Matlab code to python as part of a new test c

[2021-04-30 06:38] xylar commented on #96
@proteanplanet, as a first step toward assessing how much work this would be, would you be willing to point me to your Matlab scripts so I can see how much code we're talking about and how much beyond my rusty Matlab skills this might be?

[2021-04-30 06:39] xylar commented on #96
cc @vanroekel

[2021-04-30 11:22] dengwirda commented on #96
Hi all, there are also a bunch of mesh quality routines available direct in `jigsaw-python`...

[2021-04-30 11:42] xylar commented on #96
Thanks @dengwirda.  Those would also be helpful to include.  I think what is most critical in this context are some things about quality of coast lines related to specific features that @proteanplanet has picked out.  So what I have in mind here are more quality control from a geopolitical and physical oceanography standpoint.  I'm guessing what jigsaw-python provides are metrics that are more rel

[2021-04-30 12:28] dengwirda commented on #96
@xylar, yes totally agree --- @proteanplanet's coastline/channel quality control is very important on it's own (and makes very nice plots!). I think it could be of interest to add additional metrics though, to ensure geometric quality is consistent with what `TRSK` is happy to deal with. [These](https://github.com/dengwirda/jigsaw-geo-python/blob/24fc1aaf72d7693ae7155e292c38daff03043a1e/tests/case

[2021-04-30 13:07] xylar commented on #96
@dengwirda, got it.  So these wouldn't be images saved out or fields added to the mesh necessarily but rather output to the log file when the mesh is being created, right?

[2021-04-30 13:37] dengwirda commented on #96
@xylar, I think there could be a few possibilities. Printing to the log-file makes sense, but another option could be to use the metrics to identify additional cells/regions (that fall below some quality thresholds, say) to be passed to @proteanplanet's workflow for additional visual inspection?

[2021-04-30 13:47] xylar commented on #96
Okay, so for that purpose, we would want to add these metrics to the mesh and pass them through at least to the culling stage.

[2021-04-30 15:04] dengwirda commented on #96
@xylar, that would definitely work, but I'm not sure what the easiest path might be at this stage --- another option is that the MPAS mesh data-structure may (I think) have enough information in it to just compute these metrics on the fly within/before @proteanplanet's workflow.
Does it make sense for the three of us to discuss a little more first, and try to hash out a design?

[2021-04-30 15:20] xylar commented on #96
The rest of this work is likely to be substantial.  @proteanplanet's plotting scripts are, to the best of my knowledge, in Matlab.  So porting them to Python will be a not insignificant task.  I'm sure there will be time to discuss adding these metrics to that workflow.  It likely won't happen in the immediate term, though.

[2021-04-30 19:45] #73 closed

[2021-04-30 19:45] #72 closed

[2021-04-30 20:41] #75 closed

[2021-05-01 12:07] xylar commented on #91
@jhkennedy, I have a question about `conda env create` that Googling hasn't been able to solve for me.   Let's suppose I want to develop `compass` and `mpas_tools` simultaneously.  As soon as https://github.com/MPAS-Dev/MPAS-Tools/pull/418 goes in, I will be able to do:
[code]
Then, I would want to install `compass` and its dependencies into the environment so I would run something like:
[code]

I

[2021-05-01 12:16] xylar commented on #91
To answer my own question, it seems that `conda env update` does use the `-n` or `--name` flag as I expect.  So the following would work:
[code]

[2021-05-01 22:20] jhkennedy commented on #91
Yeah, conda CLI arguments vs same arguments given in the YAML is weird and not always clear which is going to take precedence.

There are two "file" types in the conda world that can be used for environments as well, an `envionment.yml` and a `spec-file.txt`. `environment.yml` is used as discussed above by `conda env` commands, while `spec-file.txt` is used by the (maybe?) more familiar `conda cre

[2021-05-02 09:24] xylar commented on #91
Thanks @jhkennedy, this has given me a lot to work with.

[2021-05-04 13:09] #43 closed

[2021-05-04 19:49] #61 closed

[2021-05-08 17:45] #74 closed

[2021-05-12 08:40] xylar opened #114 "Need a method to specify which tests of a test suite to run (or not run)"
It would be good to have a way for a user to alter the tests in a test suite after setup without having to edit the code and setup again.

@mark-petersen [wrote](https://github.com/MPAS-Dev/compass/pull/104#issuecomment-836809844):

[2021-05-12 08:43] xylar commented on #114
One possibility is to copy the text file that lists the test cases in the suite (e.g. `nightly.txt`) to the work directory.  Users could then alter the file to remove (or comment out?) tests they don't want to run.  Then, when `compass run` gets called, it would only run tests in the list.  If a user added a test that hasn't been set up, we would need to issue an error (or we could get fancy and a

[2021-05-12 09:59] xylar commented on #114
@mark-petersen, BTW, with my recent changes to how mask are handled, the QU240 mesh step only takes 38 seconds (at least on my laptop) which is likely comparable to the time than it will take you to alter the config file for the `mesh` test case to remove the `mesh` step.  So my guess is that this particular optimization simply isn't needed anymore.

[2021-05-12 11:21] xylar commented on #91
I've done a lot of work based on this.  I've got some nifty features lined up that will make our workflow more flexible and more similar between users and developers.

However, I'm waiting on https://github.com/conda-forge/staged-recipes/pull/14775 (adding PNetCDF to conda-forge) before I roll out these changes because it will make setting up `compass` on Linux and OSX much easier.  If that recipe

[2021-05-12 13:34] xylar opened #116 "enthalpy benchmark A failing due to halo size"
When running `enthalpy_benchmark/A`, the run fails and file `log.landice.0000.err` shows:

[code]

This seems to be because of
https://github.com/MPAS-Dev/compass/blob/19a0dd0b5e7c2df7880f7df313275942fdb9c3b4/compass/landice/tests/enthalpy_benchmark/namelist.landice#L11
in combination with recent halo-related changes to `landice/develop`.

[2021-05-19 09:32] xylar opened #121 "Look into `xesmf`"
https://xesmf.readthedocs.io/en/latest/index.html

It could likely replace `pyreamp`.

[2021-05-28 00:45] mark-petersen commented on #114
@xylar, let's close this. I think #104 addresses it, and as you said I can make extra suites on the fly.

[2021-05-28 06:09] xylar commented on #114
@mark-petersen, does that mean you also want to close #115?

[2021-05-28 06:34] xylar commented on #121
I looked into `xesmf` and it doesn't support (nor plan to support) unstructured meshes: https://github.com/JiaweiZhuang/xESMF/issues/18

[2021-05-28 06:34] #121 closed

[2021-06-01 20:48] xylar commented on #57
I figured this out as part of work on E3SM-Unified.  On Compy, `srun` must be called with `--mpi=pmi2`.  I will make a PR to fix this as soon as I have time.

[2021-06-04 07:02] #91 closed

[2021-06-04 07:10] #114 closed

[2021-06-04 08:18] #57 closed

[2021-06-04 17:38] #80 closed

[2021-06-09 20:24] matthewhoffman opened #135 "Support different validation norms for different variables"
The `compare_variables` method in the `validate.py` package supports optional nonzero values of l1, l2, and linf norms.  However, if nonzero norm values are required, they are unlikely to be the same for each variable being compared.  The old compass system let each variable have its own norms defined, e.g.:
`<field name="normalVelocity" l2_norm="1.0e-13"/>`

I can imagine two ways to accomplish t

[2021-06-09 20:43] matthewhoffman commented on #135
It looks like the validation package already is smart enough to not clobber the result of a previous call, meaning option 1 should work correctly:
https://github.com/MPAS-Dev/compass/blob/master/compass/validate.py#L70-L71
Nice!

[2021-06-09 20:52] matthewhoffman commented on #135
A related issue is it would be nice if the stdout stated what norm was being used for each comparison (or at least of the norm tolerance was nonzero).

[2021-06-10 08:05] xylar commented on #135
@matthewhoffman, I am up for implementing (or helping to implement) whatever would be helpful for you.  I think you should design this functionality since the ocean test cases have only ever used zero as the (rather redundant) tolerances.  We just don't have any examples to work from to figure out how to make this functionality useful.  That being said, going through your points, I think all the f

[2021-06-10 13:48] matthewhoffman commented on #135
You probably saw how I ended up implementing 1 in my current landice branch after realizing I could call the validation multiple times in a row.  I was satisfied with this solution.  Thanks for pointing out the ability to pass `None` to a norm and how to make use of the `quiet` option.  I probably could have picked up on those details myself but I hadn't - I think over time I will notice more of t

[2021-06-10 17:50] xylar commented on #135
Thanks so much for making that PR!

[2021-06-10 20:26] #135 closed

[2021-06-11 17:24] matthewhoffman commented on #116
Close by https://github.com/MPAS-Dev/compass/pull/133

[2021-06-11 17:24] #116 closed

[2021-07-02 15:41] mark-petersen opened #172 "ice shelf 2D test cases fail in debug mode"
These two test cases fail with gnu and intel debug. They pass with optimized:
[code]
Using compass f5dcaf98 and E3SM 0590a25151

[2021-07-02 15:45] mark-petersen commented on #172
The logfile contains:
[code]
which is here:
[code]
might be a nan in the volume edge array.

[2021-07-02 16:01] xylar commented on #172
Thanks @mark-petersen.

Yeah, or a zero in `volumeEdgeGlobal`.  Though maybe division by zero is a separate error?

[2021-07-03 16:28] xylar commented on #172
I was able to reproduce the error on Chrysalis with intel and impi in debug mode.  I printed both terms in the `sqrt` and they're pretty bonkers, and resulting in a negative number.  So I think there's some important debugging to be done of the global stats AM in general with ice-shelf cavities and partial top cells.  Presumably, some invalid values that were previously zeroed out but now contain

[2021-07-09 14:21] mark-petersen opened #175 "Add ability to run tests from cached initial conditions"
Right now, any tests run in compass must first generate their own mesh and initial condition files. This is fine for QU240, but for other global resolutions the init step can be lengthy, so it is more practical to point to cached initial condition files on disk. We could have a cached location on each supported machine (most already do), and compass could download files if they are not already the

[2021-07-09 21:45] xylar commented on #175
@mark-petersen, looked into this a bit.  I'll write up my thoughts quickly before I head to bed but will think more about this over the weekend.

It seems like there are 2 tracks.

The first seems to be what you had in mind.  We could support initial conditions and meshes we already have in https://web.lcrc.anl.gov/public/e3sm/inputdata/ocn/mpas-o/.  None of these were generated with the `compass`

[2021-07-27 18:37] xylar opened #185 "Writing of large netcdf files (> 3.4 GB) with `write_netcdf()` is hanging"
I don't yet know what the cause is or when this behavior started.  There have been updates to `libnetcdf` and `xarray`, among other related libraries, since the last time I tried to run the `SOwISC12to60` test cases.  My guess is that it's something specific to the `NC_FORMAT_64BIT_OFFSET` format that we continue to have to use because of E3SM standards.

So far, I have only seen the behavior duri

[2021-07-30 18:31] #185 closed

[2021-08-04 13:21] xylar commented on #172
I believe this was addressed by https://github.com/E3SM-Project/E3SM/pull/4387.  If there are still failures in debug mode, we should open a new issue.

[2021-08-04 13:21] #172 closed

[2021-08-04 13:22] xylar commented on #53
I'm going to close this for now because it seems like a low priority.

[2021-08-04 13:22] #53 closed

[2021-08-04 13:23] xylar commented on #16
I do not think this is actively needed anymore.  I am going to close it.

[2021-08-04 13:23] #16 closed

[2021-08-04 13:25] xylar commented on #96
@proteanplanet, could you point us to your Matlab code for making your quality control plots if it is publicly available?

[2021-08-08 17:06] pbosler opened #199 "`compass list -v` shows no output for "steps""
Tried with 2 test cases.  "Steps" is empty in both.

[code]

[2021-08-08 17:33] xylar commented on #199
@pbosler, that's a trickier case because the steps aren't defined at construction for this test case but rather at setup depending on config options.  But I agree that the default steps should show up in this case.  I'll fix that tonight or tomorrow.  Thanks for pointing it out.

[2021-08-08 18:13] pbosler commented on #199
Thanks, that makes sense.  I'm adding some convergence tests using the cosine bell test as a template, so that explains why I see no "steps" output for my new test cases, too.

[2021-08-08 19:48] #199 closed

[2021-08-11 19:50] vanroekel opened #204 "critical_passages.nc does not need to be a part of initial_state step"
In trying to reproduce previous meshes but with different vertical grids or initial conditions, the `critical_passages.nc` requirement makes this impossible as that file is not saved long-term.  I have rerun a spin up of WC14 with 80 layers and removed the critical_passages portion of streams.ocean and it completed successfully.  This suggests this dependency can be removed from initial_state.

[2021-08-11 19:52] vanroekel opened #205 "Remove output.nc from expected testcase output"
In Spinning up the WC14 with 80 layers I ran into an issue in every stage of the dynamic_adjustment stage looking for `output.nc`.  The test ran fun but the output file was not generated (as expected from streams.ocean) resulting in the error.  This required running each stage individually.  It would be helpful to remove that file from the expected output.

[2021-08-12 09:15] xylar opened #208 "EC30to60, ECwISC30to60 and SOwISC12to60 dynamic adjustment test cases failing on Chrysalis"
The `damped_adjustment_*` steps run successfully but there are NaNs in state validation during the `simulation` step.

[2021-08-13 06:08] #175 closed

[2021-08-13 09:00] xylar opened #211 "Mixed layer depth analysis member in global ocean test cases outputs every time step"
It appears that the MLD analysis member was turned on in legacy compass in this PR https://github.com/MPAS-Dev/MPAS-Model/pull/445 and set to output results every time step.  I presume this was a debugging step for that particular PR that got committed by mistake.  We inherited this in the current `compass`:
https://github.com/MPAS-Dev/compass/blob/36166e7f08c65f170e93abe11c91d8a225b802f5/compass/

[2021-08-13 09:01] xylar commented on #211
@mark-petersen and @vanroekel, do you agree that MLD should be turned off in `compass` except for the analysis test case?
https://github.com/MPAS-Dev/compass/blob/36166e7f08c65f170e93abe11c91d8a225b802f5/compass/ocean/tests/global_ocean/analysis_test/namelist.forward#L13
If so, I'll make a PR to fix this.

[2021-08-13 10:31] xylar commented on #211
As I mentioned in #212, the issue (and the solution) are a little different than I initially thought.  We need to disable output, not the AM itself.

[2021-08-13 12:19] xylar opened #215 "Print steps in suite progress"
It would be convenient if a test suite printed out steps and not just test cases as progress is being made.  Some test cases (e.g. cosine bell and dynamic adjustment) have many time-consuming steps and it can be really helpful to know how far along we are, e.g. for checking on the progress.

[2021-08-13 12:22] xylar commented on #215
A challenge in adding this feature is that logging to a file currently starts when a test case is run within a suite, and this means `stdout` is captured to the log file rather than being printed to the terminal.

[2021-08-13 15:56] xylar opened #218 "Issue with southern transects for EC*30to60 meshes"
I am seeing failures in the following:
* `EC30to60/PHC/files_for_e3sm`
* `ECwISC30to60/PHC/files_for_e3sm`
but these seem unrelated to this PR.  The error message is:
[code]
I will investigate this separately.

[2021-08-13 17:22] #204 closed

[2021-08-13 18:51] #205 closed

[2021-08-15 19:36] #208 closed

[2021-08-16 08:17] xylar opened #223 "Shared files are ending up with permissions that don't allow collaborators to read/write"
When @mark-petersen downloaded cached output files on Grizzly, both the files and directories ended up in his group, not the shared `climate` group.  We need a `chown/chmod` step for files downloaded to the shared space on supported machines.

[2021-08-16 19:35] #223 closed

[2021-08-20 13:42] xylar commented on #218
This should be fixed as soon as we are able to release a new `mpas_tools` and update the dependency here.

[2021-08-24 12:42] xylar opened #228 "Consider supporting `csh` and not just `bash`"
Currently, `compass` supports only `bash` and similar shells, not `csh` and its variants.  There has been some interest in support for `csh`.  Developers would like this should comment below and, if there is sufficient demand, I will add it.

[2021-08-25 19:56] vanroekel opened #230 "Add pass/fail test for convergence tests"
The wealth of sphere_transport tests introduced in #210 would benefit with some form of pass/fail tests.  This would enable easier integration into nightly suites and would allow for no room in interpretation as to if a test succeeded.

[2021-09-09 13:25] xylar commented on #228
I did some work on this in #232 but it increased the complexity considerably.  I'm happy to revisit this if other developers need it but closing for now.

[2021-09-09 13:25] #228 closed

[2021-09-10 04:33] mark-petersen opened #235 "Streams for comparison must be changed from single to double precision"
Currently, all streams produced by compass named output are single precision:
[code]
This line must either changed to `"double"` or remove (double is default).

All bit-for-bit tests that used the `output.nc` file for comparison has been only valid to ~7 digits, not 14 (restart file comparisons are still fine). This could have opened us to merging bugs that pass single precision, but luckily I've

[2021-09-10 04:43] mark-petersen commented on #235
In the `Registry.xml` file, single precision is specified for output streams here:

https://github.com/E3SM-Project/E3SM/blob/2ee584536bb3dbd12415708adf57d96e6c52ba35/components/mpas-ocean/src/Registry.xml#L1688-L1690

[code]
In compass legacy there is a output stream that is double precision, so that bfb comparisons are in double:
https://github.com/MPAS-Dev/compass/blob/ca2c5a980ec302e1979a576c8

[2021-09-10 04:57] mark-petersen commented on #235
I can think of three ways to change to double precision:
1. Change the output stream in `Registry.xml` back to to double.
2. Have compass alter the output stream to double, as compass legacy does
3. add a stream to the `Registry.xml` named `comparison_output` or `output_double` or similar.

When we changed E3SM output to single precision, we changed output.nc in Registry.xml to single because thos

[2021-09-10 05:07] xylar commented on #235
I think 2 is the most reasonable approach. I will look into setting up a template for this in `compass/ocean/streams`.

[2021-09-10 07:19] xylar commented on #235
@matthewhoffman, you may want to check if MALI is also affected by this issue.  My guess is your default output precision may still be double.

[2021-09-10 22:56] mark-petersen commented on #235
This is solved by https://github.com/MPAS-Dev/compass/pull/237 for the ocean. @matthewhoffman if this is not a problem for you in MALI testing, we can close this issue.

[2021-09-11 11:20] xylar commented on #235
I'm going to close this regardless.  If MALI has a similar issue, it's still separate from this one.

[2021-09-11 11:20] #235 closed

[2021-09-15 01:00] matthewhoffman commented on #235
Thanks, @xylar and @mark-petersen .  Yes, we are using double precision everywhere.

[2021-09-23 18:08] xylar opened #241 "cosine bell in pr test suite "takes too long""
@mark-petersen mentioned in https://github.com/E3SM-Project/E3SM/pull/4552#issuecomment-926012954

We should make the necessary changes to the cosine bell test doesn't have to be skipped.

[2021-09-23 18:11] xylar commented on #241
On Chrysalis on 2 nodes, the cosine bell test takes 3:48 out of 16:22 total for the pr test suite, which seemed acceptable to me.  However, if we need to reduce the highest resolution(s) from 60 km to 90 km or 120 km, that might be okay.

@mark-petersen, can you clarify what would need to change for this test to be usable for you?

@vanroekel, would reducing the highest resolution be acceptable or

[2021-09-23 19:21] mark-petersen commented on #241
@xylar thanks for posting this. My preference is the 150km. Then we still have four resolutions, which is fine for a convergence test:
[code]
The QU120 forward step takes 2:43 debug and 1:00 minutes with gnu optimized on grizzly. That doesn't seem worth it for a fifth point.

[2021-09-23 19:42] xylar commented on #241
The problem is that the error at coarse resolution saturates near 1.0 so this statement isn't really accurate.  You might determine that the order of convergence is lower than it really is if you use resolutions that are too coarse.  As a result, you might be more tolerant for errors that reduce the order of convergence in the future.  So I hesitate to rely on such coarse resolutions. I think 3 mi

[2021-09-23 19:43] xylar commented on #241
I don't think we want to run the `pr` test suite in debug mode.  I would only run the `nightly` suite in debug mode.  The point of the `pr` suite is for tests that are more costly (therefore maybe not for debug mode) but more rigorous than we were previously doing.

@vanroekel, could you weigh in?  @ambrad, do you have comments?

[2021-09-23 19:53] vanroekel commented on #241
Sorry to be a bit pedantic/negative, but I personally don't think 3:48 is a huge burden for a test.  My view of this suite is it only gets run when a PR is made and only needs to be run once.  16min of testing doesn't seem onerous to me especially given its only 2 nodes, which seems it won't get in the way of other simulations/testing.

I also agree with @xylar that we don't want to run the pr sui

[2021-09-23 20:00] xylar commented on #241
This plot shows what I'm talking about with regard to error saturating at coarse resolution:
https://github.com/MPAS-Dev/compass/pull/111#issuecomment-832923411

And I fully agree with @vanroekel having just looked at the plot at https://github.com/MPAS-Dev/compass/pull/111#issuecomment-832923411 that I don't think the 4 coarsest resolutions can be trusted to give an accurate estimate of the rate

[2021-09-23 20:03] xylar commented on #241
@mark-petersen, I realize Grizzly is slower than Chrysalis.  What kind of timing do you see in optimized for the full test case?  If it's too expensive, maybe it's time to move your testing to Chrysalis or use more nodes or something?

[2021-09-23 21:15] xylar opened #242 "Error in baseline validation appears as test execution error"
When validating a test against a baseline, if the validation fails because the baseline mesh has a different number of cells than the comparison run, the user sees and error in test execution rather than in baseline comparison.  This is confusing and should be fixed:
[code]

The traceback looks something like:
[code]

[2021-09-24 19:28] mark-petersen commented on #241
OK, looks like I should change my testing method to use a light-weight scheme up until the final one, and try to use `pr` suite as a final check, and never with debug. I can do that. The inconvenience is that, when reviewing PRs, one often thinks a test is final, but in fact requires several code iterations. I can try testing on chrysalis as well.

[2021-09-24 19:28] #241 closed

[2021-09-24 20:30] xylar commented on #241
I'd think there's no harm in using `nightly` first and running `pr` only when `nightly` succeeds.  That would save you 10 minutes on each run.

[2021-09-28 15:45] matthewhoffman opened #247 "Config provenenance tracking"
It would be useful for debugging to have information on the provenance on where final config options came from.  This could be comments in the final config/namelist files indicating where those values originated like this example in  the final config:
[code]
 Or this could be a log (likely very long) that indicates each time a config option was updated and from which source that originated, like t

[2021-10-08 23:31] #242 closed

[2021-10-13 16:56] xylar opened #259 "Compass is not working on Compy with intel/intel-mpi"
We are seeing:
[code]
when we try to run the model.

The cause seems to be a missing library path:
[code]

Please add this manually to your `load_dev_compass_1.0.0_compy_intel_impi.sh` file just below the module loads:
[code]

[2021-10-15 21:47] #259 closed, assigned to xylar

[2021-10-21 16:47] hollyhan opened #263 "SIA test suite failing on OSX"
[code]
Relevant comment with a solution:
https://github.com/E3SM-Project/E3SM/pull/4395#issuecomment-880807677

[2021-11-09 15:25] xylar opened #270 "Documentation is needed for sphere transport test group"
No documentation was added with #210, which needs to be remedied.

[2021-11-25 14:47] #230 closed

[2021-11-25 16:15] xylar opened #276 "v1.0.0 checklist"
These are the items to be completed before the v1.0.0 release

- [x] document `sphere_transport` test group #270, added in #286
- [x] SOMA port #273
- [x] Humboldt Gaacier test case #272
- [x] resolving SST in WC14 stand-alone spin-up warms to 60C #308
- [x] build test conda package and test shared environment
  - [x] anvil
  - [x] badger
  - [x] chrysalis
  - [x] compy
  - [x] cori-haswell
  - [x

[2021-11-25 16:16] xylar commented on #276
@matthewhoffman, @mark-petersen, @vanroekel, @trhille, please feel free to add items to the check list above if there are things you would like to see happen before the v1.0.0 release.  Once the remaining steps are decided, I will figure out the timeline for the release.  Hopefully, in December.

[2021-11-25 16:17] xylar commented on #276
@trhille, how close are #271 and #272?  Should we aim to have them finished for v1.0.0?  If so, how can I help them along?

[2021-11-29 15:38] trhille commented on #276
@xylar Either could be finished relatively quickly. For #272, we just need to address a large list of PEP 8 issues; for #271, we need to update the mesh density function, which could take a bit longer. I just need to find the time to actually do this.

[2021-12-05 10:43] xylar opened #281 "Consider using 1 PIO task per core"
All test cases that currently run an MPAS model first set `config_pio_num_iotasks` and `config_pio_stride` so that there is one PIO task per node.

I can't find the discussion but I believe we had done some PIO1 and PIO2 benchmarking in the past and had discovered that, while PIO1 performed much better with these settings, PIO2 did fine with one PIO task per CPU (the MPAS default).  @mark-petersen

[2021-12-05 10:45] xylar commented on #281
@matthewhoffman, do you have experience related to this issue that you want to share?  I believe you're using PIO1 for your Albany configurations right now so maybe this needs to wait until you're using SCORPIO for those setups.

[2021-12-06 16:34] matthewhoffman commented on #281
@xylar , I don't have much to add.  My experience with PIO1 was what you say in the issue - that you get bad performance with 1 PIO per task per processor and things work much better with 1 or2 per *node* instead.  But I never did a careful analysis.  I have not revisited the issues with PIO2, so that's great if that issue has largely gone away.

We are still using PIO1 on Badger, but we have swit

[2021-12-06 17:30] mark-petersen commented on #281
I agree that
[code]
is the best default. Otherwise we waste more time adjusting for different node counts, especially if you use an interactive log-in and don't match the iotasks*stride by mistake.

I didn't realize that this is actually the best setting for PIO2. I had not done that testing. @philipwjones are you aware of PIO2 testing with a recommended best stride length?

But if that is the bes

[2021-12-06 19:10] xylar commented on #281
It may also have been Phil Wolfram that did the benchmarking I'm thinking of.

[2021-12-06 19:37] philipwjones commented on #281
There has been some testing recently by Jayesh's group - I asked about it during our perf group meeting today and will have Jayesh comment on this (looks like I can't tag him in this space).  Generically speaking, using 1 I/O task per node (rather than per MPI task) is still the most appropriate default I think.

[2021-12-06 20:54] xylar commented on #281
Thanks @philipwjones.  The only circumstance under which I'm aware of this having caused trouble was when someone (@hollyhan) wanted to run on a single CPU instead of 4 CPUs.  It just meant she had to manually switch back to the MPAS default to make that work and then to run with `mpirun` instead of `compass run`.  That's an unusual enough case that I think we can stick with the existing behavior.

[2021-12-06 20:54] #281 closed

[2021-12-06 21:06] dqwu commented on #281
PIO1 (SCORPIO classic) is deprecated for E3SM.
For PIO2 (SCORPIO), you can test with different strides (1 or number of cores per compute node) for compasison.
To view IO performance, you can look at the IO stats summary info in spio_stats.***.tar.gz in the run directory.

[2021-12-06 21:26] mark-petersen opened #282 "problem parsing '+' in sinfo"
PR #280 added this line:
https://github.com/MPAS-Dev/compass/blob/316f8579ff791fb88b3c3b76193ec34686f5a7a2/compass/parallel.py#L85

When I try this at the command line, it uses a '+' on the end on cori and blues:
[code]
And the plus sign appears to cause the following error in all compass runs, including QU240/mesh:
[code]
looks like we need to filter out the '+' in python. Could use a string.repl

[2021-12-06 21:31] mark-petersen commented on #282
This seemed to fix it:
[code]
I then get
[code]
which is probably expected, but otherwise it runs through the process.

[2021-12-06 21:33] dqwu commented on #281
@xylar What configs are you concerned about? If you have a benchmark perf test for MPAS on Cori or Summit,
we can run it with various strides for testing MPAS performance.

[2021-12-06 21:55] xylar commented on #282
@mark-petersen, thanks for reporting this.  The problem is more fundamental than just the `+`.  It turns out it is not reporting the information for the partition for the **current job** but for all partitions.  I need to figure out how to make it provide info for only the current partition or it will not be accurate.

[2021-12-06 21:56] xylar commented on #282
Please reset to before #280 for now if that is a possibility for you (and rebase #273 to exclude that PR in your testing).

[2021-12-06 22:10] xylar commented on #281
@dqwu, I think what we're mostly wanting is a rule of thumb.  Is it better for `compass` to configure MPAS standalone runs to have one PIO2 task per CPU or one task per node?  I'm not sure it's worth the trouble of doing testing on any particular machine for this purpose.  We currently do one PIO2 task per node and if this isn't a bad way to go, I don't think we want to change it.  If your intuiti

[2021-12-07 15:03] #282 closed

[2021-12-10 08:56] #270 closed

[2021-12-12 09:25] xylar opened #288 "Simplify output from `conda/configure_compass_env.py`"
The output could mostly go to a log file, with only some simple steps going to the terminal, perhaps with a progress bar:
[code]

[2021-12-12 09:30] xylar opened #289 "Build MPAS standalone from `compass` command line"
It would be nice to either have a tool (e.g. `compass build`) or a set of flags for `compass setup` and `compass suite` that let a user build MPAS components in a more automated way.

Currently, users need to look up the argument to `make` for a given machine, compiler and MPI combination:
https://mpas-dev.github.io/compass/latest/developers_guide/machines/index.html#supported-machines
That would

[2021-12-12 09:30] xylar commented on #289
@mark-petersen and @matthewhoffman, do you have thoughts on this?

[2021-12-12 10:04] xylar opened #290 "Remove Grizzly from compass machines"
It will no longer be supported by LANL IC.

[2021-12-12 10:05] xylar opened #291 "Add LANL IC machine Chicoma"
This machine will first need to be added to E3SM before it can be used in compass.

[2021-12-12 13:14] xylar opened #293 "Fix `compass list --suite -v`"
Currently, cached steps aren't handled correctly in this command:
[code]

[2021-12-14 15:22] xylar commented on #276
I'm putting `grizzly` back into the check list because the date for it to be decommissioned hasn't yet been announced and we probably want to support it for this release.

[2021-12-14 15:45] #293 closed

[2022-01-03 12:43] mark-petersen commented on #289
Yes, I think this could be helpful to streamline the process. I'm sure we could still type the make file ourselves by hand. I think that is helpful when teaching people, so there are fewer layers of scripts to understand. It would also be nice to have a --dryrun option (or similar) that tells you what the make command is without actually running it.

[2022-01-03 14:06] #290 closed

[2022-01-03 14:50] matthewhoffman commented on #289
I can see the appeal, but I also worry about having to build and maintain one more layer.  I think it might create as much complexity as it solves.  I'm thinking this because I immediately think about the `ALBANY=true` flag we typically use, but then if Albany isn't compiled on a machine we don't use it.  So I worry this new command would end up supporting all the make options for MPAS, at which p

[2022-01-03 15:44] xylar commented on #289
Okay, I'll leave this on the back burner.

It just seems dumb to me to have documentation of a table of make targets for a given system that could easily just be known by compass instead of looked up by the user.

But I get what both of you are saying about the complexity of maintaining another layer of automation.

[2022-01-03 15:44] #289 closed

[2022-01-06 23:44] matthewhoffman commented on #276
@xylar , I'll ideally wait to update the MALI-Dev submodule until after https://github.com/E3SM-Project/E3SM/pull/4725 is merged (and then reset the MALI-Dev/develop branch to E3SM master), if that doesn't take too long to happen.

[2022-01-11 15:01] xylar opened #298 "60 layer PHC interface locations incorrect in MPAS-Ocean init mode"
For nearly 7 years, the interface locations in MPAS-Ocean init mode have been incorrect:
https://github.com/E3SM-Project/E3SM/blob/master/components/mpas-ocean/src/mode_init/mpas_ocn_init_vertical_grids.F#L165-L225
Except for the first interface value, these are the locations of the *centers* of layers, not the interfaces.

The correct interface locations are available in compass:
https://github.c

[2022-01-23 22:19] xylar opened #304 "Coriolis parameter not being initialized in Global Ocean init step"
Following difficulties that @ytakano3 is having spinning up his mesh focused on the Kuroshio Current, I tried rerunning the WC14 dynamic adjustment and got some pretty crazy results.

As an example, here is the SST in the initial condition:
![sst_ic](https://user-images.githubusercontent.com/4179064/150700182-44e58627-8dc1-46ae-94e5-42f6655b8cbb.png)
And here is the same after 30 days of dynamic a

[2022-01-23 22:24] xylar commented on #304
The CFL number looks okay at a glance.  The final value is `0.176895880968517`, and it never appears to reach values above 0.2.

[2022-01-23 22:39] xylar commented on #304
The results of my testing can be found here on Chrysalis/Anvil:
[code]

[2022-01-23 22:51] xylar commented on #304
I believe I know a potential cause of these problems.  I believe `fCell`, `fEdge` and `fVertex` are never getting set.  This is because we set `config_expand_sphere = .false.` in this PR:
https://github.com/MPAS-Dev/compass/pull/95
However, it turns out that the subroutine where the radius of the Earth gets expanded is also the one where the Coriolis parameters get calculated:
https://github.com/E

[2022-01-23 22:53] xylar commented on #304
Fortunately (?), we haven't created any new global meshes since that bug was introduced:
https://github.com/MPAS-Dev/compass/tags
So poor @ytakano3 and his Kuroshio mesh are the lucky first victims of this bug.

The fact that `f*` are all zeros in the initial condition also explains why a spin-up in E3SM didn't go any better than dynamic adjustment in standalone mode.

[2022-01-23 22:58] xylar commented on #304
BTW, I really hate MPAS-Ocean init mode, just for the record.

[2022-01-23 22:59] xylar commented on #304
@ytakano3, @jonbob and @maltrud, this is almost certainly the cause of the trouble you all have been having with @ytakano3's mesh.  I'm really sorry about that!

[2022-01-24 00:02] xylar commented on #298
Fixed in https://github.com/E3SM-Project/E3SM/pull/4729, but I will keep this open until we update the `E3SM-Project` submodule to bring in that fix.

[2022-01-24 00:03] xylar commented on #304
I opened https://github.com/E3SM-Project/E3SM/pull/4750 to fix this.

[2022-01-24 05:35] ytakano3 commented on #304
@xylar @jonbob and @maltrud , thank you for your support on fixing this! With your PR in E3SM-Project, I manage to make new initial conditions with the Coriolis parameter initialized this time. Dynamical adjustment worked, the files for E3SM looks good (also posted on E3SM #4750) so I started to move on to E3SM mode now for G-Case test. I will keep updated.

[2022-01-26 16:46] mark-petersen commented on #304
To investigate the 60C temperature posted above, let’s concentrate on WC14 since that is where the error is most pronounced. It sounds like the points of comparison are:

1. WC14 on head of compass/legacy (Mark)
2. WC14 at PR merge point of compass/master for that test case. (Xylar)
3. WC14 on head of compass/master with expand_sphere on (Xylar)

That will help us pinpoint and do comparisons. The

[2022-01-26 16:53] mark-petersen commented on #304
For (1) above the high temperature does not appear. To be exact, this is for
- current head of compass/legacy f4161e3d
- forward and init mode is MPAS-Dev/MPAS-Model ocean/develop branch, 2ce2729c2 April 28 2021 just before MPAS transplant.
- grizzly with these modules
[code]
Here are the results after initialization and spin-up, day 31. Many cells have `maxLevelCell=2`, and:
[code]

[2022-01-26 18:07] xylar commented on #304
@mark-petersen, I think we should probably create a new issue for keeping track of this because this issue seems to go beyond the coriolis parameter and whether we expand the earth sphere.  I'm not sure if that belongs in E3SM at all, probably in COMPASS for now at least.

[2022-01-30 14:56] mark-petersen opened #308 "SST in WC14 stand-alone spin-up warms to 60C"
An unphysical warming to 60C on the Indonesian coast occurs in the WC14 stand-alone spin-up using compass/master 2270c038, even after fixing the Coriolis bug noted in #304. This can be seen with:
[code]
After running these steps on grizzly with `load_dev_compass_1.0.0_grizzly_gnu_mvapich.sh`, the error can be seen here:
[code]
It reaches 60C by day 25 of the simulation.

[2022-01-30 15:27] mark-petersen commented on #308
I conducted a large number of tests, but I understand it now so can make a cleaner presentation. I started with:
1. WC14 on head of compass/legacy: OK, max remains at 30.1C
2. WC14 on head of compass/master with expand_sphere on: described above, max is 60.5

The namelist differences from (1) to (2) on the simulation step are:
[code]
The `config_mom_del2` was unintentional, and is fixed in #307. T

[2022-01-30 15:47] mark-petersen commented on #308
These are the potential causes of the warming, each tested with a simulation:

5. **Minimum layers: NO.** Domain has many columns with maxLevelCell=2, and usually we run with minimum of 3. This was NOT the cause. I reran compass/master with `config_global_ocean_minimum_depth = 30` in init mode, as top three layers are each 10m. Still, we should add a minimum number of layers flag, as a two layer s

[2022-01-30 15:48] mark-petersen commented on #308
6. **Thickness fluxes: NO.** In compass/master, we still set `config_use_bulk_thickness_flux = .true.`. This is a proxy for precipitation, but does not make sense after we set `config_use_activeTracers_surface_restoring = .false.` in #99. The data surface restoring and thickness flux really go hand in hand as proxies for surface fluxes. So we should turn thickness flux off. Still, in a test with i

[2022-01-30 16:23] mark-petersen commented on #308
7. **Redi Mixing: Yes.** If I set `config_use_Redi = .false.`, the maximum temperature in the simulation decreases monotonically from 30.271 to 30.260 after 31 days.
[code]

What is going on here? In retrospect it seems obvious, but it caught me off guard. All of our horizontal and vertical advection and diffusion schemes are guaranteed to be monotonic, so should not cause an increasing maximum. S

[2022-01-30 16:31] mark-petersen commented on #308
Going back to what caused this issue to begin with, we have Redi mixing on, but surface restoring off. In shallow 2 or 3 layer regions agains the coastline, Redi mixing produces a spurious increase in temperature. This does not happen in stand-alone with `config_use_activeTracers_surface_restoring = .true.` or in E3SM with surface fluxes.

For the WC14 spin-up, the solution is that Redi mixing mus

[2022-01-30 16:37] xylar commented on #308
Thanks for this detective work, @mark-petersen. I would like to hear from @vanroekel what he thinks, since he requested turning off surface restoring in #99 if my recollection is correct.  My sense is that we want to turn off both Redi and surface restoring for dynamic adjustment, so that the focus is spinning up the velocity field, dissipating surface waves, increasing the time step, and removing

[2022-01-31 04:29] vanroekel commented on #308
@xylar thanks for the ping on this.  and @mark-petersen great detective work on this one.  In retrospect this does make some sense, but a bit surprising as you say.  As for how to go forward I agree with Xylar on this one that for the dynamic adjustment pre e3sm I'd suggest no surface restoring and no mesoscale parameterizations be active.  Although as I've thought about this more it seems less im

[2022-01-31 14:31] mark-petersen commented on #308
@vanroekel since you feel less strongly about this than before and said "initial conditions wash out quickly" in E3SM, I propose that we spin up with surface restoring, thickness fluxes, and mesoscale mixing on (for appropriate resolutions), as we always had in the past. I think that produces a better initial condition, because surface restoring mimics surface fluxes and keeps it closer to the obs

[2022-01-31 14:38] vanroekel commented on #308
@mark-petersen to me as long as the e3sm spin up stays less than a month or so, I don’t think the decision matters and am fine either way.  I don’t want e3sm spin ups to get on toward months and more than a year like we did in v1.  For 1 month spin ups I don’t think any of the decisions matter.  That is just long enough to get the barotropic adjustment out of the way.  Mesoscales or not really sho

[2022-01-31 18:22] xylar commented on #308
@mark-petersen, I started implementing this and some important questions arise:
* do we want to turn GM on for QU240?  It is currently off as far as I can tell.
* do we want to have surface restoring on for performance tests, etc?  This is slightly easier to implement but will lead to non-bit-for-bit changes in our current baselines.

My intuition is that, yes, we want GM on for QU240 and, no, we

[2022-02-03 14:16] mark-petersen commented on #308
It turns out that there is more to the story than just turning on surface restoring to compensate for new temperature extrema produced by Redi mixing. It is true that Redi is the root cause of temperature increases during spin-up. But when I compared stand-alone spin-up of the WC14 where everything was identical (using today's compass/master and e3sm/master plus surface restoring) but with two run

[2022-02-03 14:57] mark-petersen commented on #308
What is the solution? We could make the bathymetry smoother, and that would avoid this particular instance of temperature over-shoot. That could be done a number of ways - smoothing GEBCO beforehand, using the flag `config_global_ocean_topography_smooth_iterations = 3` in the init step, or going back to ETOPO.

We can do those things, but this problem raises a larger question, which is, does Redi

[2022-02-03 15:12] vanroekel commented on #308
@mark-petersen thanks for the continued digging.  Reading your last entries reminded me of this part of Griffies et al 2005 where they are talking about Redi in GFDLs OM3/3.1 (I think that is MOM4), but they say the following
[code]
This could be another possibility to consider in further discussion.  Interestingly, they also suggest they have a global min/max in their redi limiter, where we only

[2022-02-03 15:14] xylar commented on #308
Thanks so much, @mark-petersen, for tracking down this issue and for your thoughts on what the solution might be.

I would strongly advocate for sticking with GEBCO combined with BedMachine.  [The switch](https://github.com/MPAS-Dev/MPAS-Model/pull/433) was made primarily for the Cryosphere and it seems important to me that we use a common bathymetry for all meshes.

The SORRM mesh used [smoothing

[2022-02-03 15:15] xylar commented on #308
@milenaveneziani, I think you may have good insights on both bathymetry smoothing and Redi.  Feel free to join the conversation.

[2022-02-03 15:17] xylar commented on #308
@ytakano3, this issue almost certainly affects your [Kuroshio mesh](https://github.com/ytakano3/compass/tree/add-kuroshio-mesh) so I want to make sure you're following along as well.

[2022-02-03 15:34] milenaveneziani commented on #308
Thanks @xylar. I am indeed following the discussion closely.
About Redi, @vanroekel: do you understand what "we reduced neutral physics to horizontal diffusion at grid points adjacent to all boundaries." mean exactly? that Redi was turned off near all boundaries and only horizontal diffusion was used instead?
About smoothing: yes, I agree with @xylar that we should keep using GEBCO but apply smoot

[2022-02-03 15:35] vanroekel commented on #308
@milenaveneziani yes, what Griffies means is that the redi tensor (four terms) is reduced to just the horizontal diffusion component (term 1) near bathymetry.

[2022-02-03 15:38] vanroekel commented on #308
My two cents on the bathymetry + smoothing is that I concur with @xylar it would be best to keep the GEBCO + Bedmachine for all meshes and smoothing should be pre mapping to MPAS meshes.

I'm very interested to see what @dengwirda's algorithm could do as well.

[2022-02-03 15:46] mark-petersen commented on #308
@milenaveneziani, the image above is bottomDepth in the South China Sea around Malaysia:
![image](https://user-images.githubusercontent.com/4036816/152376841-4b30f1cb-7773-40bc-9d9f-83b3338f9a11.png)

[2022-02-03 15:48] dengwirda commented on #308
Hi all, I'm very happy to throw my bathymetry remapping algorithm into the mix --- I'd say an advantage is that it does the DEM-to-MPAS remapping in a more consistent finite-volume way that behaves across VR meshes. I definitely agree with @xylar, @vanroekel that keeping the very high-res. GEBCO + BedMachine dataset is a good option, and becomes important at very high-res. near the coast (a'la ICo

[2022-02-03 15:59] mark-petersen commented on #308
These are great comments. I think the first priority is to alter the Redi implementation to avoid large non-monotonic behavior, even with rough bathymetry. Thanks @vanroekel for the Griffies 2005 reference, particularly:
[code]
When I first implemented and tested Redi we saw these non-monotonic oscillations, but I thought it would just be washed out by diffusion and advection. Now that we have a c

[2022-02-03 16:43] xylar commented on #308
@vanroekel, just to add to the Redi discussion a bit, my concern is that the reason we don't see extreme temperatures in E3SM is because surface fluxes are taking care of these extrema, but hat this would mean that the fluxes themselves are significantly higher than they should be.  The difficulty would be that it would be much easier to notice tracer extrema than unrealistically large fluxes, so

[2022-02-03 16:46] vanroekel commented on #308
@xylar I completely agree with you.  These results are concerning as far as e3sm goes.  It is definitely something we should look at more carefully.  One idea I had on how to diagnose this potentially is to do a pair of G-cases one with and one without redi and look at the evolution of the surface fluxes, especially near the coasts and the strong bathymetry.  If others have ideas on how to look in

[2022-02-03 16:53] xylar commented on #308
@vanroekel, the good news is that we don't have any E3SM simulations (except the new ones @ytakano3 is working on) with bathymetry as rough as what @mark-petersen showed here.  So my guess is that the effect in combination with smooth bathymetry won't be too large.  But I do agree that the pair of simulations you're suggesting would be really helpful.

[2022-02-03 17:32] xylar commented on #308
In an offline discussion with @dengwirda, his code (currently here: https://github.com/dengwirda/rtopo-dem/tree/elev-profile) is not in a place yet where it could be used in `compass` or on the particular bathymetry we're using without some work.  So I think that approach remain the goal for `compass` but not the short-term solution.

I propose, in addition to fixes to Redi, that we use the smooth

[2022-02-03 17:51] mark-petersen commented on #308
I'll look more into the Redi limiting near boundaries. I'd like to draw up a few plans, make a new issue (probably on Ocean-Discussion) and discuss it with all of you before full implementation.

Because the WC14to60kmL60E3SMv2r03 (https://github.com/MPAS-Dev/MPAS-Model/pull/628) currently used by E3SM V2 was created with smooth ETOPO bathymetry, I propose that we pursue both Redi limiting and bat

[2022-02-03 23:15] xylar commented on #308
@mark-petersen, @ytakano3 badly needs to make progress on his Kuroshio mesh.  So we need a resolution to this problem fairly quickly that allows him to move forward.  This is why I think we need to fix both surface restoring and smoothing in `compass` right now, rather than waiting on Redi.

[2022-02-04 01:18] xylar commented on #308
@mark-petersen and @dengwirda, hmm, it seems like you're right.  We can't proceed until we have fixed the Redi problem.  I am still testing #309 and #310 but I'm already seeing bad, bad signs with the EC30to60 mesh in that PR.  The maximum temperature goes as high as 61.3 C before gradually damping back down.

I'm already doing 10 iterations of smoothing, which is about as aggressive as I would be

[2022-02-04 13:50] xylar commented on #308
Just a quick follow-up.  In my testing on #309 and #310, the SORRM mesh reached a maximum temperature of nearly 150 C!!!

[2022-02-05 15:11] mark-petersen commented on #308
OK, thanks @xylar for this information. Those increasing temperatures are troubling. We will make this a priority.

[2022-02-06 05:22] #304 closed

[2022-02-06 13:29] mark-petersen commented on #304
Note, the issue of high temperatures during spin-up is discussed in #308.

[2022-02-06 22:28] xylar commented on #298
Closed via #295

[2022-02-06 22:28] #298 closed

[2022-02-06 22:37] xylar commented on #50
@mark-petersen, while I'm hoping not to have any new test cases in v1.0.0, what can I do to help move these test cases forward in v1.1.0 and beyond?

[2022-02-06 22:38] xylar commented on #247
Just a note to say that I haven't forgotten about this and will work on it in the next version of compass.

[2022-02-06 22:40] xylar commented on #308
I think resolution of this issue is the only thing that speaks against releasing compass 1.0.0 in the next few days to weeks.  If we can sort this out and show better dynamic-adjustment results, I'll be comfortable making the release.

[2022-02-15 18:31] cbegeman commented on #51
@xylar Thanks. It doesn't appear that `ocean/drying_slope` was based on a standard test case but I think it could be made to resemble the simplest 1-d uniformly sloping basin test case from this paper https://doi.org/10.1016/S0378-3839(98)00015-5. It's worth considering the `ocean/dam_break` test case but let's make sure we can pass the simplest wetting-and-drying test case first.

[2022-02-15 18:56] xylar commented on #51
Okay, rather than trying to port anything from `ocean/drying_slope`, it might be best to start fresh with a new test-case name and such.

[2022-02-15 20:06] sbrus89 commented on #51
@xylar, the drying slope and dam break cases are both taken from this paper: https://asset-pdf.scinapse.io/prod/2081346939/2081346939.pdf which describes the wetting and drying implementation in ROMS. I believe both test cases use the ROMS data in the analysis steps for comparison as. The MPAS results for these cases were published here: https://www.researchgate.net/profile/Zhendong-Cao-2/publicat

[2022-02-15 20:09] sbrus89 commented on #51
Which is to say that I think carrying these cases over (rather than starting fresh) is important. Of course, adding additional cases would be great too.

[2022-02-15 20:20] sbrus89 commented on #51
Also, I happened to be re-running the drying slope case the other day and noticed that it no longer behaves the way it originally did. My results from the other day look like this:
![dryingslopecomparison](https://user-images.githubusercontent.com/3514023/154141987-0fda6d3a-ff66-4b62-a432-1476571c36a2.png)

versus the result from the Cao et al. 2021 paper:
<img width="617" alt="Screen Shot 2022-02

[2022-02-15 20:36] dengwirda commented on #51
@xylar @cbegeman I think another (new) test that could be useful as a wetting + drying verification is the oscillations-in-a-bowl case, similar to that described in this NEMO paper: [Implementation and assessment of a flux limiter based wetting and drying scheme in NEMO](https://doi.org/10.1016/j.ocemod.2020.101708). With repeated wetting + drying cycles, this should give us a way to test the symm

[2022-02-15 20:53] cbegeman commented on #51
@sbrus89 Great! I'm happy to hear that both of these test cases derived from existing tests. Then they do seem worth bringing over.

@xylar Let me know how you'd like to share the work and @dengwirda whether you'd like to get your hands dirty with e.g. the bowl case.

[2022-02-15 20:59] xylar commented on #51
@sbrus89 and @cbegeman, could we check off which of these are priorities?

 - [ ] ocean/dam_break/default/004m
 - [ ] ocean/dam_break/default/012m
 - [ ] ocean/drying_slope/hybrid/1km
 - [ ] ocean/drying_slope/hybrid/250m
 - [ ] ocean/drying_slope/marsh_flooding/idealized_transect
 - [ ] ocean/drying_slope/meshes/1km
 - [ ] ocean/drying_slope/meshes/250m
 - [ ] ocean/drying_slope/meshes/idealized_

[2022-02-15 21:17] xylar commented on #51
To get the ball rolling, I have checked the ones I would be inclined to port.  It's typically easy to handle multiple resolutions in one port.  It shouldn't be too hard to handle multiple vertical coordinates in one port.

@cbegeman made clear that the dam-break test case would be a later priority because it's more rigorous and challenging.

[2022-02-15 21:22] cbegeman commented on #51
@xylar I can't edit but I think what you've designated is fine. Since we're starting with only 1 vertical level, it's pretty low priority to handle multiple vertical coordinates.

[2022-02-15 21:55] xylar commented on #51
@cbegeman, good point. I'll prioritize `sigma`, since that seems like the most sensible coordinate for a single layer.

[2022-03-01 14:26] xylar opened #323 "With gfortran 10.x.x, errors in MPAS-Ocean build"
When I try to build MPAS-Ocean in standalone with gfortran 10.3.0, I'm seeing errors like:
[code]

I suspect this needs to be fixed in the Makefile (and thus on E3SM-Project/E3SM) but I'm documenting it here to start with.

Likely related to:
https://github.com/E3SM-Project/E3SM/issues/3954

Possible solution in:
https://github.com/E3SM-Project/E3SM/pull/4817

[2022-03-17 12:23] xylar opened #325 "check more `globalStats` variable"
We missed a bug in `globalStats` in our compass testing in https://github.com/E3SM-Project/E3SM/pull/4832 because of the limited number of variable we validate:
https://github.com/MPAS-Dev/compass/blob/8b72187687d3c914bbbcacf23ac9afa3077e27e3/compass/ocean/tests/global_ocean/analysis_test/__init__.py#L52-L54
We should consider validating many more to catch significant problems.

[2022-03-20 13:51] #308 closed

[2022-03-20 13:52] xylar commented on #323
closed via https://github.com/E3SM-Project/E3SM/pull/4821
and #326

[2022-03-20 13:52] #323 closed

[2022-03-23 18:11] xylar opened #331 "Still seeing temperature extrema (likely from Redi) in mesh spin-up"
Just a final note to say that, in my testing, `EC30to60`, `ECwISC30to60` and `SOwISC12to60` are all producing temperatures that exceed the threshold of 33 C that I set in #328. This will need to be addressed before we produce any new initial conditions for E3SM for any of these meshes.

See https://github.com/MPAS-Dev/compass/pull/310#issuecomment-1029546997 for some specific numbers.

[2022-03-25 10:02] xylar opened #335 "`ocean/global_ocean/QU240/PHC/files_for_e3sm` failing on Cori"
[code]

It's odd that 2 calls to `ESMF_RegridWeightGen` are successful but the 3rd fails.

This is failing with both Intel and Gnu on Cori-Haswell, and with Intel on Cori-KNL.

[2022-03-25 16:03] xylar opened #336 "3 ocean tests failing with intel and mvapich on Anvil"
The following 3 tests from the `pr` test suite are failing on Anvil but only with Intel and mvapich:
[code]
The logs aren't very helpful, just indicating that they got killed.

[2022-03-27 14:39] xylar opened #339 "Update to scorpio 1.3.2"
https://github.com/E3SM-Project/scorpio/releases/tag/scorpio-v1.3.2

[2022-03-28 20:59] xylar commented on #247
@matthewhoffman, I know you're away and not looking at GitHub but wanted to let you know that I made major headway on this today.  I have a way to parse config options that keep track of where they came from.  I just haven't yet written the info to the resulting config file yet.

In case you're curious:
https://github.com/xylar/compass/tree/customize_config_parser

[2022-03-29 22:47] #276 closed

[2022-03-30 14:48] xylar opened #345 "Consider copying rather than linking load script and executable"
This would allow you to save a work directory and reuse it without having to keep the original compass branch.

[2022-03-30 15:23] xylar commented on #339
This should wait for https://github.com/E3SM-Project/E3SM/pull/4858, so we follow what E3SM is doing.

[2022-03-30 15:35] sbrus89 opened #346 "Add fuctionality for dealing with a matrix of builds"
For testing purposes, it would be convenient to have the ability to run a test suite with multiple different MPAS builds (i.e., intel/gnu, debug/optimized, openmp/no openmp).

This would require compass to be able to automate the build procedure and rename the executables for each build configuration. It would also need compass run to handle loading the appropriate environments and linking the cor

[2022-03-30 15:42] sbrus89 opened #347 "Threaded tests should use `OPENMP=true` builds"
The `OPENMP=true` make option is required in order to test threading, otherwise I believe the `!$omp` directives are treated as comments and the `OMP_NUM_THREADS` environment variable is ignored.

[2022-03-30 15:59] xylar commented on #345
@sbrus89 and I had the thought that we might have a config option and/or command-line flag to indicate that you want to copy the load scripts and executable.

A thought I had is that you would probably only want one copy of the executable and load script (maybe in the base of the work directory), and you would still have symlinks to those copies within individual test cases and steps.

[2022-03-30 16:14] xylar commented on #347
Thanks, I don't think I've been building with this when I run the `pr` test suite.

[2022-03-30 16:32] sbrus89 commented on #345
@xylar, That sounds like an excellent idea. Maybe we should note that this is somewhat related to #346

[2022-03-30 16:35] sbrus89 commented on #346
We should also get @mark-petersen's thoughts on this since I know he tests with multiple builds very frequently.

[2022-03-30 20:36] matthewhoffman commented on #247
@xylar , wow, that's great.  It sounds (and looks from your branch) that you've done all the heavy lifting already.  I like the design solution of wrapping the standard config parser to extend it's capabilities.

[2022-03-31 20:36] sbrus89 commented on #346
@xylar, I see. It makes sense why this is tricky from within compass. I'm wondering if we could have a driver script to implement this functionality that would live outside the conda package? I realize that's kind of antithetical to the philosophy of compass, but reminds me of other discussions we've had around implementing a bisect capability.

[2022-03-31 21:12] xylar commented on #346
@sbrus89, I thought about that, too.  We can explore that further.  It would seemingly need to take a config file similar to my prototype for the `git bisect` script.  The config file would provide things like the matrix of configurations to build (compiler, mpi, debug or optimized, openmp or not); the directory where MPAS will be built, the base work directory, the `compass setup` or `compass sui

[2022-04-13 11:13] #247 closed

[2022-04-14 08:00] xylar commented on #347
I think we should set `OPENMP=true` in the load script unless you supply `--no_openmp` when you run `./conda/configure_compass_env.py`.  I think it is too dangerous not to have OpenMP on in general.

[2022-04-14 08:00] xylar commented on #347
@mark-petersen and @matthewhoffman, what are your thoughts?

[2022-04-15 13:08] mark-petersen commented on #347
I don't understand. I always compile with openmp at the command line:
[code]
I thought that was the only way to do it. @xylar are you saying that we could set openmp to be true in the `configure_compass_env` as an environmental variable?

[2022-04-15 13:17] mark-petersen commented on #346
I build executables at the command line outside of compass, and then set up different case directories for different compilers by hand. That is certainly a manual part of the process, and an easy place to mix up the match of executables and directories. But to automate with several compilers, compass would need to "encompass" the build and corresponding case directories. Would that be better serve

[2022-04-15 14:58] xylar commented on #346
@mark-petersen, I really don't think so.  I think it would be easy to have config options or something like that to support any custom build options.  There's nothing stopping developers from having their won scripts but it would be much nicer if we didn't have to maintain separate scripts for each machine since compass is perfectly capable knowing how to do this in each machine.

Yes, of course.

[2022-04-15 15:02] xylar commented on #347
Yes, you can just set the environment variable `OPENMP=true` (or `DEBUG=true`) as environment variables as far as I understand it.  This could be part of the `load_*.sh` scripts.

[2022-04-15 21:39] matthewhoffman commented on #347
We don't have any openmp code in MALI (not on the MPAS side anyway), so this issues doesn't effect me.  But from what I understand, I would agree that for MPAS-Ocean it makes sense to be running with it on by default.  And enforcing that via an env variable sounds logical to me.

[2022-04-16 14:23] xylar commented on #347
@mark-petersen, I verified that setting:
[code]
has the desired effect.  I see:
[code]

[2022-04-16 14:28] xylar commented on #346
@mark-petersen, I also think it's not a good use of everyone's time to make their own bash scripts for this if there is a common set of functionality that many of us want.

[2022-04-18 12:17] xylar commented on #346
I have tested a solution to this in https://github.com/xylar/compass/tree/add_matrix_build.  It relies on functionality from https://github.com/MPAS-Dev/MPAS-Tools/pull/460, so I will wait until after I have released a new version of MPAS-Tools and updated compass to use it before I bring in that functionality.

[2022-04-18 14:17] matthewhoffman opened #361 "Default executable location uses a relative path"
The default executable location appears to be using a relative path, such that if you execute `compass suite` or `compass setup` from a directory location other than the root of the compass installation, an error occurs if you have not specified the executable location with `-p`.  For example I find I often run `compass suite` from the build directory inside the MALI submodule.  If from that locat

[2022-04-18 14:21] xylar commented on #361
@matthewhoffman, this is the intended behavior.  I will have to think about whether there is an easy way around this.

[2022-04-18 14:26] xylar commented on #361
Currently, there is not an environment variable (or config option) that defines the root of the compass  branch.  I but one could be added and then used to modify the MPAS model path.  It's not a trivial change, though.

[2022-04-18 14:59] matthewhoffman commented on #361
Thanks, @xylar .  If there is not a simple fix, then it's not worth worrying about.  It's a minor inconvenience.  Feel free to close this issue if you think we can consider it resolved.

[2022-04-18 15:21] xylar commented on #361
It's turning out to be more complicated than I hoped.  The config parser works hard to make relative paths into absolute paths relative to the current working directory.  That behavior is somewhat problematic anyway if the config parser moves over to MPAS-Tools (as I hope it will).

In general, I think it is still best to assume relative paths are relative to the current directory, not the root of

[2022-04-18 16:55] matthewhoffman commented on #361
I'm happy to leave this as is for now - it's not a very big inconvenience.

[2022-04-19 16:04] #339 closed

[2022-04-21 13:48] #361 closed

[2022-04-21 14:16] matthewhoffman opened #368 "Feature request: print test runtime during execution within a suite"
It's great having the summary of test runtimes at the end of running a suite.  There are times I think it would be nice to also see the runtime of each individual test printed after the test completes.

e.g., go from this:
[code]
to
[code]

This is not an important feature request and could be saved for a rainy day or a hackathon, assuming it's deemed worthwhile.

[2022-04-21 16:39] xylar commented on #368
This would be something like a 5 minute change to make so it seems very much worth doing.  I have also wished for this.

[2022-04-21 17:59] #347 closed

[2022-04-21 20:15] #368 closed

[2022-04-29 08:49] xylar commented on #346
Closed via https://github.com/MPAS-Dev/compass/pull/373

[2022-04-29 08:49] #346 closed

[2022-04-29 08:51] #288 closed

[2022-05-24 22:43] hollyhan opened #398 "Incorrect log file message when running individual testcase"
[code]

[2022-05-25 21:40] altheaden opened #399 "Error when configuring new env on mac without specifying compiler"
[code]

[2022-06-03 00:19] xylar commented on #399
@hollyhan saw the same issue today.  Unfortunately, I haven't had time to figure it out yet.

[2022-07-13 12:26] #398 closed

[2022-08-31 16:41] sbrus89 opened #432 "non BFB meshes for hurricane case"
There appears to be an issue with BFB reproducible meshes in the hurricane case. This is likely due to the approximate nearest neighbor calculation used in specifying the coastal refined resolution.

[2022-09-13 19:37] xylar commented on #51
@sbrus89, there are many Hurricane test cases slated for porting (see above) but I didn't see an exact match to the ones you created.  Could you check off whichever ones you ported (or the closest matches).  If you don't plan to port some of those tests after all should we move some to "won't port"?

[2022-09-13 20:16] sbrus89 commented on #51
@xylar, I just did what you suggested.

[2022-09-14 03:52] xylar commented on #51
Excellent, much appreciated @sbrus89!

[2022-09-17 18:22] xylar opened #434 "Generate mapping files for `e3sm_to_cmip` as part of `files_for_e3sm`"
The `ncremap` commands for the desired mapping files are described here:
https://github.com/E3SM-Project/e3sm_to_cmip/issues/149#issuecomment-1250111160

This should also be added to the test case for generating diagnostics files for existing meshes.

[2022-10-13 01:27] #345 closed

[2022-10-25 14:48] xylar opened #444 "Sea ice ~70 m thick in 2 spots in v2.LR.historical_0101 run"
We likely need to revisit how we cull cells for sea ice in any future meshes.

I will post examples of this problem soon.

[2022-10-25 17:27] xylar commented on #444
This run is available on HPSS at NERSC:
[code]
At the moment, one year of sample data showing the issue is available on disk here:
[code]
VTK files for this data are here:
[code]

[2022-10-25 17:35] xylar commented on #444
## Sea-ice thickness in problem areas

Western Ross Shelf, Antarctica:
![Western_Ross](https://user-images.githubusercontent.com/4179064/197842700-62c0ca66-a4a4-4b80-98dc-a9b915cbb775.png)

Disko Bay, Greenland:
![Disko_Bay](https://user-images.githubusercontent.com/4179064/197842690-e15aaafe-dc99-43e8-83e9-575f22e6f000.png)

A plot of a field on vertices (zonal velocity in this case) shows the ve

[2022-10-25 17:38] xylar commented on #444
There are many other places with similar topology where sea ice does not build up so it must result from a combination of factors (e.g. both mesh topology and atmospheric forcing).

[2022-10-25 17:46] xylar commented on #444
It seems safest to me to widen these "necks" to be 2 cells wide.  We widen the rest of a deeper bay (e.g. the one above left in the Canadian Archipelago) to be 2 cells wide and we should do the same at the "neck".  My proposal would be that the `cellsOnCell` of all cells must be adjacent to one another (at least in sea-ice regions).  If they are not, we would "dig" one of the intermediate cells so

[2022-10-25 17:46] xylar commented on #444
@mark-petersen (and any one else interested), please let me know what you think.

[2022-10-25 17:47] xylar commented on #444
@eclare108213, @akturner, @njeffery, this may be something you want to weight in on, too.

[2022-10-25 17:47] xylar commented on #444
@vanroekel and @golaz, is this something you had already taken note of in this simulation?

[2022-10-25 17:50] milenaveneziani commented on #444
Just a comment to say that we have experienced the same with the ARRM mesh.
I think it is a combination of 'bottle-neckness' and topography, so I guess geometry in general. With the old ARRM mesh, we got crazy values of ice thickness in some points (hundreds of m), but with the new mesh we are getting more reasonable values (still high, but more like tens of m).

One thing to say is that it is pos

[2022-10-25 17:51] xylar commented on #444
@milenaveneziani, thanks!  Sorry I forgot to ping you, too.

[2022-10-25 17:52] xylar commented on #444
I would think land-fast ice would only exaggerate this problem but that's only a guess.

[2022-10-25 17:56] milenaveneziani commented on #444
I guess I imagine all these cases would be handled as land-fast ice and not cause instability problems.

[2022-10-25 18:04] xylar commented on #444
I see.

[2022-10-25 21:47] eclare108213 commented on #444
Keep in mind that the sea ice dynamics in MPAS-SI is on a B-grid, and so narrow inlets like this are stuck.  Ice growth like this is seen in other climate models as well. Sometimes it is due to "jiggling" by residual elastic waves in the solution, which acts like an ice growth pump -- the ice cracks, open water forms, new ice freezes then gets ridged into thicker ice.  CESM has also seen this asso

[2022-10-26 08:27] xylar commented on #444
@eclare108213, this is very helpful intuition.  I'll leave it up to others if you want to investigate the level of ridging going on in this simulation.  It certainly might be informative.  I would tend to agree that this buildup is probably harmless in these simulations as long as it doesn't cause numerical issues.

I would still advocate that we try to avoid these narrow inlets in future meshes.

[2022-10-26 13:19] milenaveneziani commented on #444
We discussed this extensively, with @mark-petersen as well, in the summer, when we were making the new ARRM mesh. The current algorithm for opening up passages and small bays is working as it should be, with a minimum of 2 open edges (1 vertex) present when doing the culling. We could try making that criteria more stringent, maybe have a minimum of 4 edges or 2 vertices available, especially polew

[2022-10-26 14:28] xylar commented on #444
Again, I think having 2 open edges is not quite enough.  I think the problem comes up when those 2 open edge on each side with a closed edge between them.  I think you need to have at least 2 open edges, and all open edges need to be adjacent to one another.

[2022-10-27 15:33] milenaveneziani commented on #444
I believe this is what the *current* algorithm does, so we'll need more than that. At least until MPAS-Seaice remains on a B-grid. We may need two open vertices, so 2edges+2edges.

[2022-11-07 16:23] mark-petersen commented on #444
@xylar thanks for posting this. I agree that these are the cells that are causing problems, and that they are allowed by design in the current meshing algorithm:
![image](https://user-images.githubusercontent.com/4036816/200359304-9945458e-d683-4f61-bb7b-e9e4874c32ce.png)
See posting at https://github.com/MPAS-Dev/compass/pull/414#issuecomment-1186041258.

We thought that, with sea ice on a B-grid

[2022-11-07 19:36] mark-petersen commented on #444
The code that removes cells with isolated edges is here:
https://github.com/MPAS-Dev/MPAS-Tools/blob/master/conda_package/mpas_tools/ocean/coastline_alteration.py#L187-L188

For each cell, we check to see if it has any isolated edges, i.e. wet edges where both the next and previous edges on that cell neighbor a land cell. These are "single-edge-wide channels". The examples in this issue are double

[2022-11-07 20:40] mark-petersen commented on #444
The simplest thing to try first is to cull cells in [step 2](https://github.com/MPAS-Dev/MPAS-Tools/blob/master/conda_package/mpas_tools/ocean/coastline_alteration.py#L187-L188) with two double-wide channels (for a six-sided cell, edges have to be wet, wet, land, wet, wet, land). That avoids another flood-fill. It would include the pink circled cells above, but we could see how many cells that act

[2022-11-08 19:25] proteanplanet commented on #444
Thanks to @milenaveneziani who just made me aware of this issue.

A common cause of sea ice thickness build-up in culverts in coupled models is that the land model physics overbear the sea ice response due to a coarse resolution atmospheric mesh.  No amount of culling of ocean model grid points can fix the problem, and it's simply something we have to live with for the model configuration unless w

[2022-11-08 20:10] xylar commented on #444
Okay great, thanks @proteanplanet.  This sounds like similar intuition (with some important new details) to what @eclare108213 posted.  I think we can be reasonably confident that compass is not the place to address this issue.  I'm happy to keep it open here for further discussion but it might make more sense to move the discussion elsewhere if there's an appropriate place.

[2022-11-08 20:19] milenaveneziani commented on #444
My take is that, since this issue does not impact the climate (as the unrealistically thick ice remains anchored and does not affect the large scale ice distribution), then we as climate modelers do not worry about it for low and even higher resolution configuration. *But* I do feel that, when we will move to much higher res, for one reason or the other (Interface or Hilat problem, or any other po

[2022-11-08 21:33] xylar opened #454 "Can't get to bitbucket from Chicoma"
[code]

[2022-11-08 21:34] xylar commented on #454
@sbrus89, I'm not able to get to Bitbucket when I'm on Chicoma at LANL.  I realize this is an odd issue but it means I can't build standalone MPAS-Ocean on that machine.

I'm wondering if we could create our own fork of SHTNS in E3SM-Project and use that for the submodule instead.

[2022-11-08 21:40] jonbob commented on #454
@xylar - I was having the same problem this past few days and wondering if it will be different from inside the LANL network. Regardless, we need to be able to clone E3SM on the IC machines from anywhere, so please let me know if I can help.

[2022-11-08 21:47] xylar commented on #454
@jonbob, I haven't seen this problem in my earlier testing so I think it may be that LANL changed the policy.  But given that we aren't getting any other submodules from bitbucket, I think making our own copy is the safest fix.

[2022-11-08 21:50] xylar commented on #454
I made my own fork (following https://gist.github.com/mandiwise/5954bbb2e95c011885ff):
https://github.com/xylar/shtns
I seem to be able to proceed after updating the URL as described here:
https://stackoverflow.com/a/10318907

[2022-11-08 21:59] jonbob commented on #454
@xylar -- I agree completely. And you're right, this is new behavior so some LANL IC policy must have changed

[2022-11-08 22:31] xylar commented on #454
This is probably a low priority for compass because it still is performing very badly on Chicoma and I don't have time to debug any further but E3SM will also be affected.

[2022-11-08 23:09] sbrus89 commented on #454
@xylar - Sorry about this! I agree that having forks under E3SM-Project is the best way to fix the issue. I believe that @rljacob has helped me with getting those set up in the past.

[2022-11-08 23:52] rljacob commented on #454
Yes I could add that repo to E3SM-Project.   Is all of bitbucket.org blocked from that machine?  Can you ping it?

[2022-11-09 12:52] xylar commented on #454
@rljacob, no, I'm not able to ping bigbucket.org but I'm also not able to ping github.com so I don't think that's very informative.  I think ping might just be blocked.

[2022-11-16 14:50] mark-petersen opened #458 "Questions on when to run ./conda/configure_compass_env.py"
These questions involve the command
[code]

1. When do we need to re-run this command? I assume I need to run it every time I update master. But when people add small update commits to PRs, do we rerun or can I just keep the old one?
2. My typical workflow is to have `compass/master` and `compass/pr` directories, and others I'm developing in.  If I use the identical command above in both directori

[2022-11-16 16:11] xylar commented on #458
1. You need to rerun anytime you are on a new branch or worktree, or update master.  What really matters is if the compass version and/or any of its dependencies have changed.  Sometimes you don't know so it's safest to run when you update master or switch branches.
2. Yes, you should use `--env_name` to get different environments for those different directories.  Otherwise, you are always competi

[2022-11-19 16:50] xylar commented on #434
completed in https://github.com/MPAS-Dev/compass/pull/437

[2022-11-19 16:50] #434 closed

[2022-11-19 16:51] xylar commented on #458
@mark-petersen, is this resolved?

[2022-11-19 16:52] xylar commented on #444
I'm closing this because we likely won't be addressing in in compass based on the discussion so far.

[2022-11-19 16:52] #444 closed

[2022-11-22 09:15] xylar opened #462 "Make obs directory match case of other datasets for ISMIP6 ocean forcing"
https://github.com/MPAS-Dev/compass/pull/410#discussion_r1028587955

@trhille:

@hollyhan:

[2022-11-22 22:32] trhille opened #463 "Remove xtime from ISMIP6 ocean thermal forcing file from observations"
@hollyhan @xylar, I noticed after https://github.com/MPAS-Dev/compass/pull/410 was merged that the `ocean_thermal_obs` test case includes an `xtime` variable for the ocean climatology, which I had to remove to start the run at any time other than `2015-01-01_00:00:00`. It would be better not to have `xtime` in the climatology forcing.

[2022-11-28 15:40] mark-petersen commented on #458
Yes, thanks for the answer.

[2022-11-28 15:40] #458 closed